.App {
  text-align: center;
  background-color: yellow;
}

.form {
  display: flex;
  justify-content: center;
}


.user {
  margin: 0 auto;
  width: 300px;
  background-color:skyblue;
  color:white;
  border-radius: 10px;
}

.user__img {
  width: 100px;
  height: 100px;
}