.App {
  text-align: center;
  background-color: yellow;
}

.form {
  display: flex;
  justify-content: center;
}

.form__name,
.form__age,
.form__gender,
.form__balance,
.form__picture {
  background-color:skyblue;
  border-radius: 10px;
  border: 1px solid grey;
  color:white;
}

::placeholder {
  padding-left: 5px;
  color:white;
}


.user {
  margin: 0 auto;
  width: 300px;
  background-color:skyblue;
  color:white;
  border-radius: 10px;
}

.user__img {
  width: 100px;
  height: 100px;
}